@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Source+Sans+Pro:wght@300;400&family=Roboto:wght@400&display=swap');

html {
  scroll-behavior: smooth;
}

html, body, p {
  margin: 0;
}

a {
  font-family: 'Poppins';
  font-weight: 600;
  text-decoration: none;
}

.link-underline, .link-underline-left {
  display: block;
  position: relative;
}

.link-underline::after, .link-underline-left::after {
  content: '';
  position: absolute;
  background-color: white;
  transition: opacity 200ms, transform 200ms;
  transform: scale(0);
  transform-origin: center;
}

.link-underline::after {
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
}

.link-underline-left::after {
  top: 0;
  left: -8px;
  width: 2px;
  height: 23px;
}

.link-underline:hover::after, .link-underline:focus::after,
.link-underline-left:hover::after, .link-underline-left:focus::after {
  transform: scale(1);
}

.header-background {
  background: linear-gradient(135deg, #4a62ed, #e35656);
  padding-top: 200px;
}

.header-slash {
  width: 0;
  height: 0;
  border-top: 200px solid transparent;
  border-right: 100vw solid white;
}

.intro {
  margin-top: -400px;
  display: flex;
  justify-content: center;
  min-height: 420px;
}

.intro-column {
  width: 100%;
  max-width: 800px;
  padding: 15px;
}

.intro-contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.intro-contacts-link {
  color: white;
  font-size: 15px;
  display: flex;
}

.intro-contacts-text {
  padding-top: 1px;
  margin-left: 7px;
}

.intro-bio {
  display: flex;
  margin-top: 25px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.intro-bio-text {
  margin-bottom: 25px;
  margin-right: 15px;
}

.intro-bio-text-header {
  font-family: 'Poppins';
  font-size: 45px;
  color: white;
}

.intro-bio-text-tag {
  font-family: 'Source Sans Pro';
  font-size: 25px;
  color: white;
  font-weight: 300;
}

.intro-bio-profile {
  min-width: 300px;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
}

.content {
  margin-top: 50px;
  background-color: #F6F9FC;
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 470px);
  padding-bottom: 50px;
}

.content-column {
  width: 100%;
  max-width: 800px;
  padding: 15px;
}

.section-name {
  margin-bottom: -10px;
  margin-top: 35px;
  display: block;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.section-name::after {
  width: 100%;
  height: 2px;
  background: linear-gradient(135deg, #4a62ed, #e35656);
  content: '';
  position: absolute;
  bottom: 0;
  left: 0
}

.section-name-text {
  font-family: 'Poppins';
  font-size: 17px;
  font-weight: 600;
  color: #303030;
}

.section-name-link {
  cursor: pointer;
}

.entry-name {
  font-family: 'Roboto';
  font-size: 20px;
  margin-top: 20px;
  font-weight: 400;
}

.entry-subtitle {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  margin-top: -3px;
  margin-bottom: 2px;
  color: #404040;
}

.entry-description {
  font-family: 'Source Sans Pro';
  font-size: 17px;
  font-weight: 300;
}

.entry-iframe {
  margin-top: 20px;
}

@media only screen and (max-width: 795px) {  
  .intro-bio-profile {
    margin-left: auto;
    margin-right: auto;
  }
}

.table {
  display: flex;
  flex-direction: column
}

.table-link {
  color: white;
  margin-bottom: 7px;
}

@media only screen and (min-width: 1270px) {
  .intro-bio {
    margin-top: 67px;
  }
  
  .intro-bio-text-header {
    margin-top: -10px;
  }
  
  .table {
    position: absolute;
    top: 106px;
    left: calc(calc(calc(100vw - 830px) / 2) - 200px);
  }
}

@media only screen and (max-width: 1270px) {
  .header-background {
    padding-top: 371px;
  }

  .intro-column {
    margin-top: -171px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .intro-bio {
    margin-top: 13px;
    width: 100%;
  }

  .intro-contacts {
    display: flex;
    flex-direction: column;
    justify-content: right;
  }

  .intro-contacts-link {
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 7px;
  }
}
